In [31]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [13]:
df = pd.read_excel('KTM New Data1.xlsx')

In [14]:
df.head()

,ID,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,1,53,Male,Professional,Average,180 to 220,Complicated,Not purchased
1,2,27,Female,Self Employed,Low End,No Bike,Single,Purchased
2,3,39,Female,Unemployed,Average,180 to 220,Married,Not purchased
3,4,20,Female,Unemployed,High End,No Bike,Married,Not purchased
4,5,29,Male,Student,Average,180 to 220,Complicated,Purchased

In [15]:
df.drop('ID',axis=1,inplace=True)

In [16]:
df['Relationship'].value_counts()

Single         490
Complicated    384
Committed      331
Married        313
Name: Relationship, dtype: int64

In [17]:
def Labelencoding(df):
    for col in df.columns:
        if df[col].dtype == object:
            le = LabelEncoder()
            df[col] = le.fit_transform(df[col])
    return df

In [18]:
df=Labelencoding(df)

In [19]:
df.head()

   Age  Gender  Occupation  Phone Type  Current Bike  Relationship  Response
0   53       1           0           0             1             1         0
1   27       0           1           2             4             3         1
2   39       0           3           0             1             2         0
3   20       0           3           1             4             2         0
4   29       1           2           0             1             1         1

In [21]:
x = df.drop('Response',axis=1)
y= df[['Response']]

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=50)

In [28]:
lr = LogisticRegression()

In [29]:
lr.fit(x_train, y_train)

C:\Users\Sunil\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [30]:
lr_pred = lr.predict(x_test)

In [32]:
accuracy_score(y_test,lr_pred)

0.7631578947368421