In [25]:
print('hello world..!')

hello world..!

# Welcome to Python3
## Welcome to Python3
### Welcome to Python3

In [26]:
print(11//3) #FLoor division
print(10%3)

3
1

In [27]:
import numpy as np
a = np.array([[1, 2, 3],[3, 4, 5],[2, 5, 7]])
b = np.array([[1,5],[2,6],[7,9]])
print(np.matmul(a,b))

[[ 26  44]
 [ 46  84]
 [ 61 103]]

# Most frequently used data types
1. Interger
2. float/ double
3. String
4. Boolean

In [39]:
# Control structure
#If, else

In [47]:
a=15;
b=10;
c=15;
if (a>=b):
    if (a>=c):
        print(a);
    elif (c>=a):
        print(c);
elif (b>=c):
    print(b);
else:
    print(c);

15

In [1]:
a=25;
b=25;
c=5;
if (a>b):
    if (a>c):
        print('a is greatest');
    elif (c>a):
        print('c is greatest');
    elif (a==c):
        print('a and c are equal and greater than b');
elif (a==b):
    if(a>c):
        print('a and b are equal and greater than c');
    elif (c>a):
        print('c is greatest');
    elif (a==c):
        print('all are equal');
elif (b>c):
    print('b is greatest');
elif (b==c):
    print('b and c are equal and greater than a')
else:
    print('c is greatest');

all are equal

# Loop

In [13]:
#print your name 10 times
# i is the iterator
# f is format
for i in range(0,10):
    print(f'{i} {i+1} Sunil')

0 1 Sunil
1 2 Sunil
2 3 Sunil
3 4 Sunil
4 5 Sunil
5 6 Sunil
6 7 Sunil
7 8 Sunil
8 9 Sunil
9 10 Sunil

# Data types

In [ ]:
#List is a collections of elements, which can be of any data type like string or integer or float
#Lists are mutable

In [15]:
l = [2, '2', True]
print(l)

[2, '2', True]

In [ ]:
Given an integer, n, perform the following conditional actions:

If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of 6 to 20, print Weird
If n is even and greater than 20, print Not Weird
Input Format

In [54]:
n=24;
if (((n%2==1) & (n<=100))|((n>=6) & (n<=20) & (n%2==0))):
    print('Weird');
elif ((n>=2) & (n<=5) & (n%2==0)) | ((n%2==0) & (n>20) & (n<=100)):
    print('Not Weird');

Not Weird

# Sets

In [2]:
set1 = {1,2,3,4,'google', 'python', 'google'}

In [3]:
print(set1)

{1, 2, 3, 4, 'python', 'google'}

In [8]:
set2 = {1, 2,3,4,10, 111, 20,250, 32, 50, 60, 75, 'Python', 'SQL', 'microsoft', 'Google'};

In [9]:
set1 | set2

{1,
 10,
 111,
 2,
 20,
 250,
 3,
 32,
 4,
 50,
 60,
 75,
 'Google',
 'Python',
 'SQL',
 'google',
 'microsoft',
 'python'}

# Dictionary

In [20]:
dic = {'Sunil':100, 'Sagar':200, 'Godwin':300, 'Teju':400, 'Munna':500}
dic['Sunil']

100

In [25]:
print(dic.get('Teju'))

400

In [27]:
# make a dict using two lists
# Keys = []
# Values = []
L1 = [1,2,3,4,'google', 'A', 'B']

In [28]:
L1

[1, 2, 3, 4, 'google', 'A', 'B']

In [29]:
sum = 0;
for i in L1:
    if type(i) == int:
        sum += i;
    print(sum);

1
3
6
10
10
10
10