In [99]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [77]:
df = pd.read_table('SMSSpamCollection.txt', sep='\t', names=['labels','Msg'])

In [78]:
df.head()

  labels                                                Msg
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [79]:
le = LabelEncoder()

In [80]:
df['labels'] = le.fit_transform(df['labels']) #encoding ham=0, spam=1

In [81]:
from sklearn.feature_extraction.text import CountVectorizer

In [83]:
cv = CountVectorizer()

In [84]:
msg = df['Msg']

In [85]:
cv.fit(msg)

CountVectorizer()

In [86]:
names = cv.get_feature_names()

In [87]:
array = cv.transform(msg).toarray()

In [88]:
array

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [89]:
d_test = pd.DataFrame(data=array, columns=names)

In [90]:
d_test

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
y = df[['labels']]

In [93]:
x_train, x_test, y_train, y_test = train_test_split(d_test, y, test_size=0.3, random_state=50)

In [96]:
mb = MultinomialNB()

In [97]:
mb.fit(x_train, y_train)

C:\Users\Sunil\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

MultinomialNB()

In [98]:
mb_pred = mb.predict(x_test)

In [100]:
accuracy_score(y_test, mb_pred)

0.9802631578947368

Let new message has reached inbox, like shown below. Filter the one below, whether it is ham or spam.

In [70]:
docs = ['My name is Sunil', 'I love data science', 'I won a lottery', "I will give all the money to Ashwin"]
cv.fit(docs)

CountVectorizer()

In [71]:
names = cv.get_feature_names()

In [72]:
array = cv.transform(docs).toarray()

In [73]:
array

array([[0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0]], dtype=int64)

In [74]:
d_test = pd.DataFrame(data=array, columns=names)

In [75]:
d_test.head()

,all,ashwin,data,give,is,lottery,love,money,my,name,science,sunil,the,to,will,won
0,0,0,0,0,1,0,0,0,1,1,0,1,0,0,0,0
1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
3,1,1,0,1,0,0,0,1,0,0,0,0,1,1,1,0