# Pandas Assignment 1(B)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

### Step 2. Import the dataset

In [5]:
df = pd.read_csv('Pandas Assign 1(B).csv')

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [6]:
users = df;
# user_id =

### Step 4. See the first 25 entries

In [7]:
users.head(25)

   user_id|age|gender|occupation|zip_code
0                 1|24|M|technician|85711
1                      2|53|F|other|94043
2                     3|23|M|writer|32067
3                 4|24|M|technician|43537
4                      5|33|F|other|15213
5                  6|42|M|executive|98101
6              7|57|M|administrator|91344
7              8|36|M|administrator|05201
8                    9|29|M|student|01002
9                    10|53|M|lawyer|90703
10                    11|39|F|other|30329
11                    12|28|F|other|06405
12                 13|47|M|educator|29206
13                14|45|M|scientist|55106
14                 15|49|F|educator|97301
15            16|21|M|entertainment|10309
16               17|30|M|programmer|06355
17                    18|35|F|other|37212
18                19|40|M|librarian|02138
19                20|42|F|homemaker|95660
20                   21|26|M|writer|30068
21                   22|25|M|writer|40206
22                   23|30|F|artist|48197
23                   24|21|F|artist|94533
24                 25|39|M|engineer|55107

### Step 5. See the last 10 entries

In [8]:
users.tail(10)

    user_id|age|gender|occupation|zip_code
933                934|61|M|engineer|22902
934                  935|42|M|doctor|66221
935                   936|24|M|other|32789
936                937|48|M|educator|98072
937              938|38|F|technician|55038
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

### Step 6. What is the number of observations in the dataset?

In [10]:
users.size

943

### Step 7. What is the number of columns in the dataset?

In [29]:
len(users.columns)
users.columns

Index(['user_id|age|gender|occupation|zip_code'], dtype='object')

### Step 8. Print the name of all the columns.

In [28]:
print(users.iloc[0])
#for i in range(users.size):
#    print(i)
#    print(users.iloc[i])
#    users.iloc[i] = users.iloc[i].split('|')
#users[['user_id','age','gender','occupation','zip_code']] = users..str.split("|",expand=True)
pd.DataFrame(users.user_id|age|gender|occupation|zip_code.str.split('|',1).tolist(),
                         columns = ['user_id','age','gender','occupation','zip_code'])

user_id|age|gender|occupation|zip_code    1|24|M|technician|85711
Name: 0, dtype: object

AttributeError: 'DataFrame' object has no attribute 'user_id'

### Step 9. How is the dataset indexed?

### Step 10. What is the data type of each column?

### Step 11. Print only the occupation column

### Step 12. How many different occupations there are in this dataset?

### Step 13. What is the most frequent occupation?

### Step 14. Summarize the DataFrame.

### Step 15. Summarize all the columns

### Step 16. Summarize only the occupation column

### Step 17. What is the mean age of users?

### Step 18. What is the age with least occurrence?