#                                              Pandas Assignment 1(A)



### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import seaborn as sns

### Step 2. Import the dataset

In [3]:
ds = pd.read_csv("Pandas Assign 1(A).tsv", delimiter = '\t')

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = ds

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
int(chipo.size/len(chipo.columns))

4622

In [19]:
print(chipo['order_id'].count)

<bound method Series.count of 0          1
1          1
2          1
3          1
4          2
        ...
4617    1833
4618    1833
4619    1834
4620    1834
4621    1834
Name: order_id, Length: 4622, dtype: int64>

### Step 6. What is the number of columns in the dataset?

In [21]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [22]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [72]:
# It is indexed using []
chipo.rangeindex()

AttributeError: 'DataFrame' object has no attribute 'rangeindex'

### Step 9. Which was the most-ordered item?

In [23]:
chipo['item_name'].value_counts()[chipo['item_name'].value_counts() == chipo['item_name'].value_counts().max()]

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

### Step 11. What was the most ordered item in the choice_description column?

In [24]:
chipo['choice_description'].value_counts()[chipo['choice_description'].value_counts() == chipo['choice_description'].value_counts().max()]

[Diet Coke]    134
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [26]:
len(pd.unique(chipo['item_name']))

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [28]:
chipo['item_price']

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [52]:
for i in range(len(chipo['item_price'])):
    chipo['item_price'][i].replace('$', '')

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

#### Step 13.c. Check the item price type

In [54]:
pd.to_numeric(chipo['item_price'])

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

### Step 14. How much was the revenue for the period in the dataset?

In [74]:
chipo['quantity']*chipo['item_price'].sum()

0       34500.16
1       34500.16
2       34500.16
3       34500.16
4       69000.32
          ...
4617    34500.16
4618    34500.16
4619    34500.16
4620    34500.16
4621    34500.16
Name: quantity, Length: 4622, dtype: float64

### Step 15. How many orders were made in the period?

In [59]:
len(pd.unique(chipo['order_id']))

1834

### Step 16. What is the average revenue amount per order?

In [60]:
# Solution 1
chipo['item_price'].sum()/len(pd.unique(chipo['order_id']))

18.811428571428824

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [61]:
len(pd.unique(chipo['item_name']))

50

### Step 18. How many products cost more than $10.00?

In [77]:
chipo[chipo['item_price'] > 10]['item_name'].nunique()

31

### Step 19. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [65]:
chipo[['item_name','item_price']]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa       2.39
1                                      Izze       3.39
2                          Nantucket Nectar       3.39
3     Chips and Tomatillo-Green Chili Salsa       2.39
4                              Chicken Bowl      16.98
...                                     ...        ...
4617                          Steak Burrito      11.75
4618                          Steak Burrito      11.75
4619                     Chicken Salad Bowl      11.25
4620                     Chicken Salad Bowl       8.75
4621                     Chicken Salad Bowl       8.75

[4622 rows x 2 columns]

### Step 20. Sort by the name of the item

In [66]:
chipo['item_name'].sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 21. What was the quantity of the most expensive item ordered?

In [70]:
chipo['item_name'].value_counts()[chipo['item_price'] == chipo['item_price'].max()]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

### Step 22. How many times were a Veggie Salad Bowl ordered?

In [67]:
chipo.loc[chipo['item_name'] > 'Veggie Salad Bowl'].count()

order_id              7
quantity              7
item_name             7
choice_description    7
item_price            7
dtype: int64

### Step 23. How many times people orderd more than one Canned Soda?

In [68]:
chipo.loc[chipo['item_name'] > 'Canned Soda'].count()

order_id              4091
quantity              4091
item_name             4091
choice_description    3007
item_price            4091
dtype: int64