In [36]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [37]:
df = pd.read_table('SMSSpamCollection.txt', sep='\t', names=['labels','Msg'])

In [38]:
df.head()

  labels                                                Msg
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [39]:
le = LabelEncoder()

In [40]:
df['labels'] = le.fit_transform(df['labels']) #encoding ham=0, spam=1

In [41]:
from sklearn.feature_extraction.text import CountVectorizer

In [42]:
cv = CountVectorizer()

In [43]:
docs = ['My name is Sunil', 'I love data science', 'I won a lottery', "I will give all the money to Ashwin"]

In [63]:
msg = df['Msg']

In [64]:
cv.fit(msg)

CountVectorizer()

In [65]:
names = cv.get_feature_names()

In [66]:
array = cv.transform(msg).toarray()

In [67]:
array

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [68]:
d_test = pd.DataFrame(data=array, columns=names)

In [45]:
cv.fit(docs)

CountVectorizer()

In [46]:
names = cv.get_feature_names()

In [48]:
array = cv.transform(docs).toarray()

In [49]:
array

array([[0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0]], dtype=int64)

In [50]:
d_test = pd.DataFrame(data=array, columns=names)

In [52]:
d_test.head()

,all,ashwin,data,give,is,lottery,love,money,my,name,science,sunil,the,to,will,won
0,0,0,0,0,1,0,0,0,1,1,0,1,0,0,0,0
1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
3,1,1,0,1,0,0,0,1,0,0,0,0,1,1,1,0