In [1]:
#22/11/2021
#Importing necessary libraries

#importing data handling libraries
import pandas as pd
import numpy as np
from collections import OrderedDict
from pandasql import sqldf


#importing data visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

#importing statistical libraries
import scipy.stats as sc
from statsmodels.stats.outliers_influence import variance_inflation_factor

#importing data preprocessing libraries
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA


#importing machine learning libraries
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor
import xgboost
from xgboost import XGBRegressor


#importing validation and model selection libraries
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, learning_curve
from sklearn.metrics import r2_score, mean_squared_error


#importing libraries to handle warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_personal = pd.read_excel('Medibuddy insurance data personal details.xlsx')
df_insurance = pd.read_csv('Medibuddy Insurance Data Price.csv')

In [3]:
df_personal.rename(columns = {'Policy no.':'Policy_number'}, inplace = True)
df_personal.head()

  Policy_number  children smoker     region
0     PLC157006         0     no  southwest
1     PLC157033         1     no  southwest
2     PLC157060         0     no  southwest
3     PLC157087         1     no  southwest
4     PLC157186         5     no  southwest

In [4]:
df_insurance.rename(columns = {'Policy no.':'Policy_number'}, inplace = True)
df_insurance.head()

  Policy_number  age     sex     bmi  charges in INR
0     PLC156898   19  female  27.900     16884.92400
1     PLC156907   18    male  33.770      1725.55230
2     PLC156916   28    male  33.000      4449.46200
3     PLC156925   33    male  22.705     21984.47061
4     PLC156934   32    male  28.880      3866.85520

# Share your analysis for the below: 
#### 1. Does the gender of the person matter for the company as a constraint for  extending policies? 
#### 2. What is the average amount of money the company spent over each policy  cover? 
#### 3. Could you advice if the company needs to offer separate policies based upon the  geographic location of the person? 
#### 4. Does the no. of dependents make a difference in the amount claimed?
#### 5. Does a study of persons BMI get the company any idea for the insurance claim  that it would extend? 
#### 6. Is it needed for the company to understand whether the person covered is a  smoker or a non-smoker? 
#### 7. Does age have any barrier on the insurance claimed? 
#### 8. Can the company extend certain discounts after checking the health status  (BMI) in this case? 
#### In addition to the above analysis, build a machine learning model to predict the  amount spent to the utmost accuracy. Validate and hyper parametrically tune the  model to get the best results.

In [5]:
mysql = lambda q: sqldf(q, globals())

In [6]:
query = '''select * from df_insurance inner join df_personal on df_insurance.Policy_number = df_personal.Policy_number where sex = 'female';'''
female_table = mysql(query)

In [13]:
female_table.head()

,Policy_number,age,sex,bmi,charges in INR,Policy_number,children,smoker,region
0,PLC156898,19,female,27.90,16884.92400,PLC156898,0,yes,southwest
1,PLC156943,31,female,25.74,3756.62160,PLC156943,0,no,southeast
2,PLC156952,46,female,33.44,8240.58960,PLC156952,1,no,southeast
3,PLC156961,37,female,27.74,7281.50560,PLC156961,3,no,northwest
4,PLC156979,60,female,25.84,28923.13692,PLC156979,0,no,northwest

In [14]:
people = len(df_insurance['Policy_number'])
female = len(female_table['Policy_number'])
percent = female*100/people
print(f'Percentage of policies with female persons is {percent}')

#As percentage is almost 50% gender of the person doesn't matter in extending policies

Percentage of policies with female persons is 49.47683109118087

In [21]:
average_female = female_table['charges in INR'].mean()
average_total = df_insurance['charges in INR'].mean()

In [22]:
average_total

13270.422265141257

In [23]:
average_female

12569.57884383534

In [8]:
query1 = '''select AVG("charges in INR") from df_insurance;'''
mysql(query1) # method 1
np.average(df_insurance['charges in INR']) # method 2

13270.422265141257

In [9]:
query1 = '''select AVG("charges in INR") from df_personal as dp inner join df_insurance as di on dp.Policy_number = di.Policy_number where region = 'southwest';'''
mysql(query1)

   AVG("charges in INR")
0           12346.937377

In [10]:
query2 = '''select AVG("charges in INR") from df_personal as dp inner join df_insurance as di on dp.Policy_number = di.Policy_number where region = 'southeast';'''
mysql(query2)

   AVG("charges in INR")
0           14735.411438

In [11]:
query3 = '''select AVG("charges in INR") from df_personal as dp inner join df_insurance as di on dp.Policy_number = di.Policy_number where region = 'northwest';'''
mysql(query3)

   AVG("charges in INR")
0           12417.575374

In [12]:
query4 = '''select AVG("charges in INR") from df_personal as dp inner join df_insurance as di on dp.Policy_number = di.Policy_number where region = 'northeast';'''
mysql(query4)

   AVG("charges in INR")
0           13406.384516