In [17]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.feature_selection import RFE

In [2]:
df = pd.read_excel('mt cars raw data.xlsx')

In [3]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,gear,carb,am
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,4,4,1
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,4,4,1
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,4,1,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,3,1,0
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,3,2,0

In [4]:
df = df.drop('model',axis=1)

In [5]:
df.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  gear  carb  am
0  21.0    6  160.0  110  3.90  2.620  16.46   0     4     4   1
1  21.0    6  160.0  110  3.90  2.875  17.02   0     4     4   1
2  22.8    4  108.0   93  3.85  2.320  18.61   1     4     1   1
3  21.4    6  258.0  110  3.08  3.215  19.44   1     3     1   0
4  18.7    8  360.0  175  3.15  3.440  17.02   0     3     2   0

In [7]:
x = df.drop('mpg',axis=1)

In [8]:
y=df[['mpg']]

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1, random_state=50)

In [11]:
lr = LinearRegression()

In [12]:
lr.fit(x_train, y_train)

LinearRegression()

In [13]:
lr_pred = lr.predict(x_test)

In [16]:
r2_score(y_test,lr_pred)

0.6741218480652138

# Implementing RFE

In [18]:
rfe = RFE(estimator=lr, n_features_to_select=5)

In [19]:
rfe.fit(x,y)

RFE(estimator=LinearRegression(), n_features_to_select=5)

In [20]:
rfe.support_

array([False, False, False,  True,  True,  True, False, False,  True,
        True])

In [22]:
x.columns

Index(['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'gear', 'carb', 'am'], dtype='object')

In [49]:
x1 =[]
for e in enumerate(rfe.support_):
    if rfe.support_[e] == True:
        x1.append(x.columns[e])
print(x1)

[Index(['drat'], dtype='object'), Index(['wt'], dtype='object'), Index(['qsec'], dtype='object'), Index(['carb'], dtype='object'), Index(['am'], dtype='object')]

<ipython-input-49-8f932868d85b>:3: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if rfe.support_[e] == True:

In [50]:
col=[]
for i in range(len(rfe.support_)):
    if  rfe.support_[i] == True:
        col.append(x.columns[i])

        
print(col)

['drat', 'wt', 'qsec', 'carb', 'am']

In [23]:
x1 = x[['drat','wt', 'qsec', 'carb', 'am']]

In [24]:
x1_train, x1_test, y_train, y_test = train_test_split(x1,y,test_size=0.1, random_state=50)

In [25]:
lr.fit(x1_train, y_train)

LinearRegression()

In [26]:
lr_pred1 = lr.predict(x1_test)

In [27]:
r2_score(y_test, lr_pred1)

0.9293267003097954