In [23]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

import warnings
warnings.filterwarnings('ignore')

In [24]:
#REading the data
df = pd.read_excel('../KTM NEW DATA1.xlsx')

In [25]:
df.head()

,ID,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,1,53,Male,Professional,Average,180 to 220,Complicated,Not purchased
1,2,27,Female,Self Employed,Low End,No Bike,Single,Purchased
2,3,39,Female,Unemployed,Average,180 to 220,Married,Not purchased
3,4,20,Female,Unemployed,High End,No Bike,Married,Not purchased
4,5,29,Male,Student,Average,180 to 220,Complicated,Purchased

In [26]:
df.drop('ID', axis=1, inplace=True)

In [27]:
df.head()

,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,53,Male,Professional,Average,180 to 220,Complicated,Not purchased
1,27,Female,Self Employed,Low End,No Bike,Single,Purchased
2,39,Female,Unemployed,Average,180 to 220,Married,Not purchased
3,20,Female,Unemployed,High End,No Bike,Married,Not purchased
4,29,Male,Student,Average,180 to 220,Complicated,Purchased

In [28]:
le = LabelEncoder()

In [29]:
for col in df.columns:
    if df[col].dtype == object:
        df[col] = le.fit_transform(df[col])

In [30]:
x = df.drop('Response', axis=1)
y = df[['Response']]

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.8, random_state=80)

In [32]:
lr = LogisticRegression()

In [33]:
lr.fit(x_train, y_train) #Fitting the train data

LogisticRegression()

In [34]:
lr_pred_train = lr.predict(x_train)

In [35]:
lr_pred_test = lr.predict(x_test)

In [36]:
print('Training accuracy is ',accuracy_score(y_train, lr_pred_train))
print('Testing accuracy is ', accuracy_score(y_test, lr_pred_test))

Training accuracy is  0.7557755775577558
Testing accuracy is  0.7530864197530864

In [37]:
dt = DecisionTreeClassifier()

In [38]:
dt.fit(x_train, y_train)

DecisionTreeClassifier()

In [39]:
dt_pred_train = dt.predict(x_train)
dt_pred_test = dt.predict(x_test)

In [40]:
print('Training accuracy is ', accuracy_score(y_train, dt_pred_train))
print('Testing accuracy is ', accuracy_score(y_test, dt_pred_test))

Training accuracy is  1.0
Testing accuracy is  0.7522633744855967

In [41]:
# Decision tree will not be able to generalise the data. It is an over fit model.

# Logistic regression is the generic model

In [42]:
from sklearn.tree import export_graphviz
export_graphviz(dt, 'tree.dot', feature_names = x.columns)

In [43]:
! dot -Tpng tree.dot -o tree.png

'dot' is not recognized as an internal or external command,
operable program or batch file.

In [44]:
import matplotlib.pyplot as plt
import cv2
%matplotlib inline
img = cv2.imread('tree.png')
plt.figure(figsize = (20, 20))
plt.imshow(img)

ModuleNotFoundError: No module named 'cv2'

In [45]:
pip install OpenCV

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement OpenCV
ERROR: No matching distribution found for OpenCV