In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score



import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel('../KTM New Data1.xlsx')

In [3]:
df.head()

,ID,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,1,53,Male,Professional,Average,180 to 220,Complicated,Not purchased
1,2,27,Female,Self Employed,Low End,No Bike,Single,Purchased
2,3,39,Female,Unemployed,Average,180 to 220,Married,Not purchased
3,4,20,Female,Unemployed,High End,No Bike,Married,Not purchased
4,5,29,Male,Student,Average,180 to 220,Complicated,Purchased

In [4]:
df.drop('ID', axis=1, inplace=True)

In [5]:
for col in df.columns:
    if df[col].dtype == object:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col])

In [6]:
df.head()

   Age  Gender  Occupation  Phone Type  Current Bike  Relationship  Response
0   53       1           0           0             1             1         0
1   27       0           1           2             4             3         1
2   39       0           3           0             1             2         0
3   20       0           3           1             4             2         0
4   29       1           2           0             1             1         1

In [7]:
x = df.drop('Response', axis=1)

In [8]:
y = df[['Response']]

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=50)

In [10]:
rfc = RandomForestClassifier(n_estimators=7)

In [11]:
rfc.fit(x_train, y_train)

RandomForestClassifier(n_estimators=7)

In [12]:
rfc_pred = rfc.predict(x_test)

In [13]:
accuracy_score(y_test, rfc_pred)

0.7587719298245614

In [14]:
rfc_cv_score = cross_val_score(rfc, x, y, cv=10)

In [15]:
np.mean(rfc_cv_score)

0.7392819797838969

In [16]:
grid = {'n_estimators':[5,6,7,8,9,10,20,30,40,50,60,70,80,90,100]}

In [17]:
gc = GridSearchCV(rfc, grid, cv=10)

In [18]:
gc.fit(x,y)

GridSearchCV(cv=10, estimator=RandomForestClassifier(n_estimators=7),
             param_grid={'n_estimators': [5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60,
                                          70, 80, 90, 100]})

In [19]:
gc.best_params_

{'n_estimators': 30}